/* NORMALIZE CSS https://necolas.github.io/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*NORMALIZE CSS*/
/* COLORES */
/* COLORES */
/*BOTONES CON COLOR*/
.btn-dark {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #000000), to(#000000));
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
}

.btn-info {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #00bcd4), to(#00bcd4));
  background: linear-gradient(to bottom, #00bcd4 5%, #00bcd4 100%);
}

.btn-success {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #00d483), to(#00d483));
  background: linear-gradient(to bottom, #00d483 5%, #00d483 100%);
}

.btn-danger {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #dd3400), to(#dd3400));
  background: linear-gradient(to bottom, #dd3400 5%, #dd3400 100%);
}

.btn-warning {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ff9800), to(#ff9800));
  background: linear-gradient(to bottom, #ff9800 5%, #ff9800 100%);
}

.btn-primary {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2196f3), to(#2196f3));
  background: linear-gradient(to bottom, #2196f3 5%, #2196f3 100%);
}

.btn-secondary {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #3f51b5), to(#3f51b5));
  background: linear-gradient(to bottom, #3f51b5 5%, #3f51b5 100%);
}

.btn-tertiary {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9c27b0), to(#9c27b0));
  background: linear-gradient(to bottom, #9c27b0 5%, #9c27b0 100%);
}

/*BOTONES CON COLOR*/
/*BOTONES*/
.btn {
  background-color: transparent;
  border: 5px transparent;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn:disabled {
  opacity: 0.6;
}

.btn:active {
  position: relative;
  top: 1px;
}

/*BOTONES*/
/*TEXTO*/
.title {
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.textContent {
  font-size: 1em;
  font-weight: bold;
}

/*TEXTO*/
/*CARDS*/
.glass-card {
  background: rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.img-card {
  width: 100%;
  height: 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/*CARDS*/
/*GRID*/
.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25.0%;
  -webkit-box-flex: 0;
          flex: 0 0 25.0%;
  max-width: 25.0%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66666%;
  -webkit-box-flex: 0;
          flex: 0 0 41.66666%;
  max-width: 41.66666%;
}

.col-6 {
  -ms-flex: 0 0 50.0%;
  -webkit-box-flex: 0;
          flex: 0 0 50.0%;
  max-width: 50.0%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66666%;
  -webkit-box-flex: 0;
          flex: 0 0 66.66666%;
  max-width: 66.66666%;
}

.col-9 {
  -ms-flex: 0 0 75.0%;
  -webkit-box-flex: 0;
          flex: 0 0 75.0%;
  max-width: 75.0%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66666%;
  -webkit-box-flex: 0;
          flex: 0 0 91.66666%;
  max-width: 91.66666%;
}

.col-12 {
  -ms-flex: 0 0 100.0%;
  -webkit-box-flex: 0;
          flex: 0 0 100.0%;
  max-width: 100.0%;
}

/*GRID*/
/*FONDOS*/
.bg-dark {
  background-color: #2f2f2f;
}

.bg-gray {
  background-color: #807d7d;
}

.bg-light {
  background-color: #ebf1f3;
}

/*FONDOS*/
/*MARGINS*/
.m-1 {
  margin: 1em;
}

.m-2 {
  margin: 2em;
}

.m-3 {
  margin: 3em;
}

.m-4 {
  margin: 4em;
}

.m-5 {
  margin: 5em;
}

.m-6 {
  margin: 6em;
}

.m-7 {
  margin: 7em;
}

.m-8 {
  margin: 8em;
}

.m-9 {
  margin: 9em;
}

.m-10 {
  margin: 10em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.mt-5 {
  margin-top: 5em;
}

.mt-6 {
  margin-top: 6em;
}

.mt-7 {
  margin-top: 7em;
}

.mt-8 {
  margin-top: 8em;
}

.mt-9 {
  margin-top: 9em;
}

.mt-10 {
  margin-top: 10em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

.mb-6 {
  margin-bottom: 6em;
}

.mb-7 {
  margin-bottom: 7em;
}

.mb-8 {
  margin-bottom: 8em;
}

.mb-9 {
  margin-bottom: 9em;
}

.mb-10 {
  margin-bottom: 10em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

.ml-4 {
  margin-left: 4em;
}

.ml-5 {
  margin-left: 5em;
}

.ml-6 {
  margin-left: 6em;
}

.ml-7 {
  margin-left: 7em;
}

.ml-8 {
  margin-left: 8em;
}

.ml-9 {
  margin-left: 9em;
}

.ml-10 {
  margin-left: 10em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-3 {
  margin-right: 3em;
}

.mr-4 {
  margin-right: 4em;
}

.mr-5 {
  margin-right: 5em;
}

.mr-6 {
  margin-right: 6em;
}

.mr-7 {
  margin-right: 7em;
}

.mr-8 {
  margin-right: 8em;
}

.mr-9 {
  margin-right: 9em;
}

.mr-10 {
  margin-right: 10em;
}

/*MARGINS*/
/*NAVS*/
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  background-color: #3f51b5;
  padding: 12px 0;
  position: relative;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}

.header .logo a {
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 16px;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .nav ul li a:hover,
.header .nav ul li a.active {
  color: #ffffff;
}

.header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

.nav-toggler span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: #3f51b5;
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3f51b5;
  left: 0;
}

.nav-toggler span::before {
  top: -6px;
}

.nav-toggler span::after {
  top: 6px;
}

@media (max-width: 991px) {
  .nav-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #3f51b5;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    visibility: hidden;
  }
  .header .nav ul li {
    display: block;
    margin: 0;
  }
  .header #nav-check:checked ~ .nav {
    opacity: 1;
    visibility: visible;
  }
  .header #nav-check:focus ~ .nav-toggler {
    -webkit-box-shadow: 0 0 15px #000000;
            box-shadow: 0 0 15px #000000;
  }
  .header #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }
  .header #nav-check:checked ~ .nav-toggler span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

/* NAVS */
/* PROPIEDADES */
.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.left {
  text-align: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.right {
  text-align: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.noDrag {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.rounded-0 {
  border-radius: 0vh;
}

.rounded-1 {
  border-radius: 1vh;
}

.rounded-2 {
  border-radius: 2vh;
}

.rounded-3 {
  border-radius: 3vh;
}

.rounded-4 {
  border-radius: 4vh;
}

.rounded-5 {
  border-radius: 5vh;
}

.rounded-6 {
  border-radius: 6vh;
}

.rounded-7 {
  border-radius: 7vh;
}

.rounded-8 {
  border-radius: 8vh;
}

.rounded-9 {
  border-radius: 9vh;
}

.rounded-10 {
  border-radius: 10vh;
}

.rounded-11 {
  border-radius: 11vh;
}

.rounded-12 {
  border-radius: 12vh;
}

.rounded-13 {
  border-radius: 13vh;
}

.rounded-14 {
  border-radius: 14vh;
}

.rounded-15 {
  border-radius: 15vh;
}

.rounded-16 {
  border-radius: 16vh;
}

.rounded-17 {
  border-radius: 17vh;
}

.rounded-18 {
  border-radius: 18vh;
}

.rounded-19 {
  border-radius: 19vh;
}

.rounded-20 {
  border-radius: 20vh;
}

.rounded-21 {
  border-radius: 21vh;
}

.rounded-22 {
  border-radius: 22vh;
}

.rounded-23 {
  border-radius: 23vh;
}

.rounded-24 {
  border-radius: 24vh;
}

.rounded-25 {
  border-radius: 25vh;
}

.rounded-26 {
  border-radius: 26vh;
}

.rounded-27 {
  border-radius: 27vh;
}

.rounded-28 {
  border-radius: 28vh;
}

.rounded-29 {
  border-radius: 29vh;
}

.rounded-30 {
  border-radius: 30vh;
}

.rounded-31 {
  border-radius: 31vh;
}

.rounded-32 {
  border-radius: 32vh;
}

.rounded-33 {
  border-radius: 33vh;
}

.rounded-34 {
  border-radius: 34vh;
}

.rounded-35 {
  border-radius: 35vh;
}

.rounded-36 {
  border-radius: 36vh;
}

.rounded-37 {
  border-radius: 37vh;
}

.rounded-38 {
  border-radius: 38vh;
}

.rounded-39 {
  border-radius: 39vh;
}

.rounded-40 {
  border-radius: 40vh;
}

.rounded-41 {
  border-radius: 41vh;
}

.rounded-42 {
  border-radius: 42vh;
}

.rounded-43 {
  border-radius: 43vh;
}

.rounded-44 {
  border-radius: 44vh;
}

.rounded-45 {
  border-radius: 45vh;
}

.rounded-46 {
  border-radius: 46vh;
}

.rounded-47 {
  border-radius: 47vh;
}

.rounded-48 {
  border-radius: 48vh;
}

.rounded-49 {
  border-radius: 49vh;
}

.rounded-50 {
  border-radius: 50vh;
}

.rounded-51 {
  border-radius: 51vh;
}

.rounded-52 {
  border-radius: 52vh;
}

.rounded-53 {
  border-radius: 53vh;
}

.rounded-54 {
  border-radius: 54vh;
}

.rounded-55 {
  border-radius: 55vh;
}

.rounded-56 {
  border-radius: 56vh;
}

.rounded-57 {
  border-radius: 57vh;
}

.rounded-58 {
  border-radius: 58vh;
}

.rounded-59 {
  border-radius: 59vh;
}

.rounded-60 {
  border-radius: 60vh;
}

.rounded-61 {
  border-radius: 61vh;
}

.rounded-62 {
  border-radius: 62vh;
}

.rounded-63 {
  border-radius: 63vh;
}

.rounded-64 {
  border-radius: 64vh;
}

.rounded-65 {
  border-radius: 65vh;
}

.rounded-66 {
  border-radius: 66vh;
}

.rounded-67 {
  border-radius: 67vh;
}

.rounded-68 {
  border-radius: 68vh;
}

.rounded-69 {
  border-radius: 69vh;
}

.rounded-70 {
  border-radius: 70vh;
}

.rounded-71 {
  border-radius: 71vh;
}

.rounded-72 {
  border-radius: 72vh;
}

.rounded-73 {
  border-radius: 73vh;
}

.rounded-74 {
  border-radius: 74vh;
}

.rounded-75 {
  border-radius: 75vh;
}

.rounded-76 {
  border-radius: 76vh;
}

.rounded-77 {
  border-radius: 77vh;
}

.rounded-78 {
  border-radius: 78vh;
}

.rounded-79 {
  border-radius: 79vh;
}

.rounded-80 {
  border-radius: 80vh;
}

.rounded-81 {
  border-radius: 81vh;
}

.rounded-82 {
  border-radius: 82vh;
}

.rounded-83 {
  border-radius: 83vh;
}

.rounded-84 {
  border-radius: 84vh;
}

.rounded-85 {
  border-radius: 85vh;
}

.rounded-86 {
  border-radius: 86vh;
}

.rounded-87 {
  border-radius: 87vh;
}

.rounded-88 {
  border-radius: 88vh;
}

.rounded-89 {
  border-radius: 89vh;
}

.rounded-90 {
  border-radius: 90vh;
}

.rounded-91 {
  border-radius: 91vh;
}

.rounded-92 {
  border-radius: 92vh;
}

.rounded-93 {
  border-radius: 93vh;
}

.rounded-94 {
  border-radius: 94vh;
}

.rounded-95 {
  border-radius: 95vh;
}

.rounded-96 {
  border-radius: 96vh;
}

.rounded-97 {
  border-radius: 97vh;
}

.rounded-98 {
  border-radius: 98vh;
}

.rounded-99 {
  border-radius: 99vh;
}

.rounded-100 {
  border-radius: 100vh;
}

.pulse:hover {
  top: 1px;
  position: relative;
}

.pulse:hover {
  top: 1px;
  position: relative;
}

.blur:hover {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.transparent:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.byn:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.zoom-out:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 1;
}

.zoom-in:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-none {
  cursor: none;
}

.cursor-wait {
  cursor: wait;
}

/* PROPIEDADES */
/* SPINNERS */
@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-dark {
  color: #000000;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-light {
  color: #ffffff;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-success {
  color: #00d483;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-danger {
  color: #dd3400;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-warning {
  color: #ff9800;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-primary {
  color: #2196f3;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

/* SPINNERS */
/* FORMS */
.form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

/*forms*/
/*FLEXBOX*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-5 {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-6 {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-7 {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-8 {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-9 {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-10 {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-11 {
  -webkit-box-flex: 11;
      -ms-flex-positive: 11;
          flex-grow: 11;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow-12 {
  -webkit-box-flex: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

/*FLEXBOX*/
/*# sourceMappingURL=framework.css.map */